body { background-color: purple; }

div { background-color: hotpink; }

.mainlogo{
  padding: 50px;
  background-color: purple;
}
.second {
  display: flex;
  flex-direction: column;
  background-color: darkorange;
  color: white;
  padding: 10px;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.outer {

  padding: 30px;
  margin: 55px;
}
.inner {
  display: flex;
  flex-direction: row;
  flex-grow: (1, 2, 3, 4);
  flex-shrink: 1;
  padding: 15px;
  color: white;
  background-color: hotpink;
}
.header {
  margin: 20px;
}
